<h1 [class] = "titleClass">First Tag</h1>
<h2 [style.color]="bluey">Welcome to {{title}}, uses style binding</h2>
<h3 [style.color] = "styleTitle ? 'green' : 'pink'" [id] = "idTitle">This uses ternary operator and style binding.</h3>
<p [id] = "idTitle">{{obj.name}}</p>
<ul>
  <li *ngFor="let arr of myArr1">{{ arr }}</li>
</ul>
<ol>
  <li *ngFor="let arr of myArr2">{{ arr }}</li>
</ol>
<p *ngIf='myArr; else temp2'>I exist because of myArr in component.ts</p>
<ng-template #temp2>Other template if myArr doesnt exist</ng-template>

<img src='{{angularlogo}}'>
<img [src]="angularlogo">
<img bind-src="angularlogo">

<button [disabled]="btnStatus">Click me</button>

<button (click) = "myEvent($e)">Event Button</button>

<p [ngClass] = "classesTitle">This is styled using ngClass</p>
<p [ngStyle] = "stylesTitle">This is styled using ngStyle</p>

<p>This was returned using a service: {{ exProp }}</p>

<p [@myAnimation] = 'state' (click) = 'animateMe()' class="anim"> Animate me!</p>
